.header .container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -1rem;
}
.menu a {
  padding: .5rem 1rem;
  display: block;
  line-height: var(--leading-none);
}
